<%= content_for :title, "New Tweet" %>

<%= form_for (@tweet) do |f| %>
  <div class="form-group">
    <%= f.label :tweet %> <br>
    <%= f.text_field :tweet %>
    <%= f.hidden_field :user_id, value: current_user.id %>
  </div>
  <%= f.submit(class: 'btn-sm') %>
<% end %>
